In [28]:
!pip install ..

Processing /Users/sarahrandall/Python-outbreak-info
  Preparing metadata (setup.py) ... done
Requirement already satisfied: numpy in /Users/sarahrandall/opt/anaconda3/envs/spyder-env/lib/python3.9/site-packages (from python-outbreak-info==1.0.4) (1.24.3)
Requirement already satisfied: pandas in /Users/sarahrandall/opt/anaconda3/envs/spyder-env/lib/python3.9/site-packages (from python-outbreak-info==1.0.4) (1.5.3)
Requirement already satisfied: requests in /Users/sarahrandall/opt/anaconda3/envs/spyder-env/lib/python3.9/site-packages (from python-outbreak-info==1.0.4) (2.29.0)
Requirement already satisfied: python-dateutil>=2.8.1 in /Users/sarahrandall/opt/anaconda3/envs/spyder-env/lib/python3.9/site-packages (from pandas->python-outbreak-info==1.0.4) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /Users/sarahrandall/opt/anaconda3/envs/spyder-env/lib/python3.9/site-packages (from pandas->python-outbreak-info==1.0.4) (2022.7)
Requirement already satisfied: certifi>=2017.4.17 in /Users/sarahrandall/opt/anaconda3/envs/spyder-env/lib/python3.9/site-packages (from requests->python-outbreak-info==1.0.4) (2023.5.7)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /Users/sarahrandall/opt/anaconda3/envs/spyder-env/lib/python3.9/site-packages (from requests->python-outbreak-info==1.0.4) (1.26.15)
Requirement already satisfied: charset-normalizer<4,>=2 in /Users/sarahrandall/opt/anaconda3/envs/spyder-env/lib/python3.9/site-packages (from requests->python-outbreak-info==1.0.4) (2.0.4)
Requirement already satisfied: idna<4,>=2.5 in /Users/sarahrandall/opt/anaconda3/envs/spyder-env/lib/python3.9/site-packages (from requests->python-outbreak-info==1.0.4) (3.4)
Requirement already satisfied: six>=1.5 in /Users/sarahrandall/opt/anaconda3/envs/spyder-env/lib/python3.9/site-packages (from python-dateutil>=2.8.1->pandas->python-outbreak-info==1.0.4) (1.16.0)
Building wheels for collected packages: python-outbreak-info
  Building wheel for python-outbreak-info (setup.py) ... done
  Created wheel for python-outbreak-info: filename=python_outbreak_info-1.0.4-py3-none-any.whl size=14909 sha256=cc8025cd98dda7390873da61af78e51fec9ad10fb26b842caf37e0b2bda482f5
  Stored in directory: /Users/sarahrandall/Library/Caches/pip/wheels/6f/2b/e7/3ed0c40d63901a9ba71e11202a6320922e8c98a9d9afcfcad4
Successfully built python-outbreak-info
Installing collected packages: python-outbreak-info
  Attempting uninstall: python-outbreak-info
    Found existing installation: python-outbreak-info 1.0.4
    Uninstalling python-outbreak-info-1.0.4:
      Successfully uninstalled python-outbreak-info-1.0.4
Successfully installed python-outbreak-info-1.0.4

In [1]:
import os
os.chdir('/Users/sarahrandall/Python-outbreak-info/tests')

In [3]:
from outbreak_data.authenticate_user import set_authentication
from outbreak_data import outbreak_data
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from matplotlib.colors import hsv_to_rgb

In [4]:
from outbreak_data.authenticate_user import set_authentication
import auth_token
set_authentication(auth_token.get_auth_token())

In [9]:
df = outbreak_data.all_lineage_prevalences("USA_US-HI")

#{ ‘location’: ‘USA_US-HI’ }

In [10]:
print(df)

                    total_count  lineage_count  prevalence  prevalence_rolling
date       lineage
2023-08-05 hv.1              17              1    0.058824            0.054264
2023-08-06 hv.1               0              0    0.000000            0.026022
2023-08-07 hv.1               0              0    0.000000            0.015317
2023-08-08 hv.1              18              1    0.055556            0.023569
2023-08-09 hv.1               0              0    0.000000            0.020619
...                         ...            ...         ...                 ...
2024-04-23 other              9              6    0.666667            0.750000
2024-04-24 other              5              3    0.600000            0.703704
2024-04-25 other              0              0    0.000000            0.714286
2024-04-26 other              0              0    0.000000            0.684211
2024-04-27 other              1              1    1.000000            0.722222

[2456 rows x 4 columns]

In [15]:
t2 = outbreak_data.cases_by_location("USA_US-CA", 2)
print(t2)

                                confirmed_numIncrease  confirmed_rolling
location            date
USA_California_None 2020-02-12                      0           0.142857
                    2020-02-13                      1           0.285714
                    2020-02-14                      0           0.285714
                    2020-02-15                      0           0.285714
                    2020-02-16                      0           0.285714
...                                               ...                ...
                    2023-03-04                      0        3725.571533
                    2023-03-05                      0        3725.571533
                    2023-03-06                      0        3725.571533
                    2023-03-07                      0        2080.857178
                    2023-03-08                   8300        3266.571533

[1121 rows x 2 columns]

In [30]:
t2 = outbreak_data.mutation_details('s:a262a')
t2

,type,gene,ref_codon,pos,alt_codon,is_synonymous,ref_aa,codon_num,alt_aa
mutation,,,,,,,,,
S:A262A,substitution,S,GCT,22348,GCT,True,A,262,A

In [98]:
df = outbreak_data.daily_lag('USA_US-HI')
print(df)

                               total_count
date_collected date_submitted
2020-03-05     2020-04-16                1
2020-03-07     2020-04-16                1
2020-03-11     2020-12-31                1
2020-03-12     2020-06-16                2
               2020-12-31                1
...                                    ...
2024-04-24     2024-05-08                3
               2024-05-16                2
2024-04-25     2024-05-16                2
2024-04-27     2024-05-16                1
2024-04-30     2024-05-16                1

[5798 rows x 1 columns]

In [114]:
df = outbreak_data.growth_rates('BA.2.86', 'USA')  #BA.2 works too
#Get growth rate data for BA.2.86 on 2024-02-02
df.loc['USA','BA.2.86','2024-02-02']

                                  G_7  G_7_linear  N_7  N_prev_7  \
location lineage date
USA      BA.2.86 2024-01-30  0.034127    3.471641  0.0       2.0
                 2024-01-31  0.034722    3.533181  0.0       2.0
                 2024-02-01  0.028671    2.908555  0.0       1.0
                 2024-02-02  0.030113    3.057071  0.0       1.0
                 2024-02-03  0.031394    3.189245  0.0       1.0

                             Prevalence_7  Prevalence_7_percentage  \
location lineage date
USA      BA.2.86 2024-01-30      0.002220                 0.222041
                 2024-01-31      0.002261                 0.226051
                 2024-02-01      0.002256                 0.225575
                 2024-02-02      0.002365                 0.236476
                 2024-02-03      0.002483                 0.248282

                             confidenceInterval20  confidenceInterval35  \
location lineage date
USA      BA.2.86 2024-01-30              1.010083              1.818149
                 2024-01-31              1.025535              1.845963
                 2024-02-01              1.038099              1.868578
                 2024-02-02              1.044012              1.879221
                 2024-02-03              1.050281              1.890505

                             confidenceInterval5  confidenceInterval50  ...  \
location lineage date                                                   ...
USA      BA.2.86 2024-01-30             0.242420              2.707022  ...
                 2024-01-31             0.246128              2.748434  ...
                 2024-02-01             0.249144              2.782106  ...
                 2024-02-02             0.250563              2.797951  ...
                 2024-02-03             0.252067              2.814752  ...

                             confidenceInterval80  confidenceInterval95  \
location lineage date
USA      BA.2.86 2024-01-30              5.171625              7.919050
                 2024-01-31              5.250739              8.040194
                 2024-02-01              5.315067              8.138697
                 2024-02-02              5.345340              8.185052
                 2024-02-03              5.377437              8.234200

                             deltaG_7  deltaG_7_linear  deltaN_7  \
location lineage date
USA      BA.2.86 2024-01-30  0.039048         4.040332    3108.0
                 2024-01-31  0.039621         4.102140    3108.0
                 2024-02-01  0.040350         4.152396    3108.0
                 2024-02-02  0.040522         4.176047    3108.0
                 2024-02-03  0.040713         4.201122    3108.0

                             deltaN_prev_7  deltaPrevalence_7  \
location lineage date
USA      BA.2.86 2024-01-30       1.579737           0.646176
                 2024-01-31       1.579737           0.663847
                 2024-02-01       1.630381           0.698774
                 2024-02-02       1.582951           0.703224
                 2024-02-03       1.582951           0.707836

                             deltaPrevalence_7_percentage  invDeltaG_7  \
location lineage date
USA      BA.2.86 2024-01-30                     64.617600    25.609690
                 2024-01-31                     66.384683    25.238824
                 2024-02-01                     69.877420    24.782931
                 2024-02-02                     70.322444    24.678140
                 2024-02-03                     70.783589    24.562304

                                  snr
location lineage date
USA      BA.2.86 2024-01-30  0.859247
                 2024-01-31  0.861302
                 2024-02-01  0.700452
                 2024-02-02  0.732049
                 2024-02-03  0.759141

[5 rows x 21 columns]

In [103]:
# Get growth rate data for BA.2.86 on date 2024-02-02
df.loc['USA','BA.2.86','2024-02-02']

G_7                                0.030113
G_7_linear                         3.057071
N_7                                0.000000
N_prev_7                           1.000000
Prevalence_7                       0.002365
Prevalence_7_percentage            0.236476
confidenceInterval20               1.044012
confidenceInterval35               1.879221
confidenceInterval5                0.250563
confidenceInterval50               2.797951
confidenceInterval65               3.883724
confidenceInterval80               5.345340
confidenceInterval95               8.185052
deltaG_7                           0.040522
deltaG_7_linear                    4.176047
deltaN_7                        3108.000000
deltaN_prev_7                      1.582951
deltaPrevalence_7                  0.703224
deltaPrevalence_7_percentage      70.322444
invDeltaG_7                       24.678140
snr                                0.732049
Name: (USA, BA.2.86, 2024-02-02), dtype: float64

In [121]:
df = outbreak_data.growth_rates('BA.2, BA.2.86' , 'USA')
  # Get the prevalence percentage and 80% confidence intervals for both lineages
df = df[[ 'Prevalence_7_percentage', 'confidenceInterval80']]
print(df)

                             Prevalence_7_percentage  confidenceInterval80
location lineage date
USA      BA.2    2024-01-30                 0.184008              5.410016
                 2024-01-31                 0.180807              5.463835
                 2024-02-01                 0.178196              5.519133
                 2024-02-02                 0.176874              5.521128
                 2024-02-03                 0.175658              5.520665
...                                              ...                   ...
         BA.2.86 2024-03-07                 0.514831              6.592654
                 2024-03-08                 0.512352              6.565807
                 2024-03-09                 0.510145              6.595931
                 2024-03-10                 0.508168              6.524510
                 2024-03-11                 0.526594              6.380216

[91 rows x 2 columns]

In [133]:
df = outbreak_data.sequence_counts('USA', sub_admin = True)
states = df.loc[['USA_US-NY', 'USA_US-FL', 'USA_US-CO', 'USA_US-TX']]
print(states)

             total_count
location_id
USA_US-NY         346598
USA_US-FL         211068
USA_US-CO         243188
USA_US-TX         302701

In [136]:
df = outbreak_data.lineage_by_sub_admin('xbb.1.15', location='FRA')
df

,,date,id,total_count,lineage_count,cum_total_count,cum_lineage_count,proportion,proportion_ci_lower,proportion_ci_upper
name,query,,,,,,,,,
,xbb.1.15,2024-05-13,FRA_FR-None,1,0,5462,0,0.0,8.989602e-08,0.000460
Bretagne,xbb.1.15,2024-04-25,FRA_FR-BT,1,0,427,0,0.0,1.149290e-06,0.005862
Corse,xbb.1.15,2024-04-29,FRA_FR-CE,1,0,67,0,0.0,7.301552e-06,0.036663
Grand Est,xbb.1.15,2024-04-15,FRA_FR-AO,2,0,1004,0,0.0,4.889564e-07,0.002498
Normandie,xbb.1.15,2024-04-08,FRA_FR-ND,2,0,230,0,0.0,2.132611e-06,0.010850
Occitanie,xbb.1.15,2024-05-06,FRA_FR-LP,3,0,731,0,0.0,6.715000e-07,0.003429
Pays de la Loire,xbb.1.15,2024-04-02,FRA_FR-PL,5,0,266,0,0.0,1.844259e-06,0.009390

In [151]:
df = outbreak_data.wildcard_lineage('g*')
print(df)

        total_count
name
gk.1.1         5683
gj.1.2         5610
ge.1           4469
gs.4.1         4368
gk.1           1777
...             ...
ga.7              1
ga.7.2            1
gd.3              1
gl.2              1
gy.2              1

[156 rows x 1 columns]

In [156]:
df = outbreak_data.wildcard_location('*awai*')
print(df)

                       country country_id   division division_id  \
id
USA_US-HI        United States        USA     Hawaii          HI
USA_US-HI_15001  United States        USA     Hawaii          HI
IND_IN-RJ_SM             India        IND  Rajasthan          RJ

                                            label  admin_level  total_count  \
id
USA_US-HI                   Hawaii, United States            1        28332
USA_US-HI_15001     Hawaii, Hawaii, United States            2         3325
IND_IN-RJ_SM     Sawai Madhopur, Rajasthan, India            2          138

                       location location_id
id
USA_US-HI                   NaN         NaN
USA_US-HI_15001          Hawaii       15001
IND_IN-RJ_SM     Sawai Madhopur          SM

In [159]:
df = outbreak_data.mutation_details('*E484*')
print(df)

                  type gene ref_codon    pos alt_codon  is_synonymous ref_aa  \
mutation
S:E484L   substitution    S       GAA  23012       CTT          False      E
S:E484A   substitution    S       GAA  23013       GCC          False      E
S:E484R   substitution    S       GAA  23012       AGG          False      E
S:E484V   substitution    S       GAA  23012       GTG          False      E
S:E484T   substitution    S       GAA  23012       ACA          False      E
S:E484D   substitution    S       GAA  23012       GAC          False      E
S:E484H   substitution    S       GAA  23013       CAT          False      E
S:E484K   substitution    S       GAA  23013       AAG          False      E
S:E484Q   substitution    S       GAA  23011       CAA          False      E
S:E484I   substitution    S       GAA  23011       ATA          False      E

          codon_num alt_aa
mutation
S:E484L         484      L
S:E484A         484      A
S:E484R         484      R
S:E484V         484      V
S:E484T         484      T
S:E484D         484      D
S:E484H         484      H
S:E484K         484      K
S:E484Q         484      Q
S:E484I         484      I

In [161]:
df = outbreak_data.lineage_cl_prevalence('BA.2.86.1', location = 'CAN')
print(df)

                      total_count  lineage_count  total_count_rolling  \
date       query
2023-09-08 BA.2.86.1          270              1           251.000000
2023-09-09 BA.2.86.1          204              0           260.571429
2023-09-10 BA.2.86.1          227              0           266.285714
2023-09-11 BA.2.86.1          390              0           290.285714
2023-09-12 BA.2.86.1          409              1           300.142857
...                           ...            ...                  ...
2024-05-11 BA.2.86.1           20              0            37.285714
2024-05-12 BA.2.86.1           24              0            35.000000
2024-05-13 BA.2.86.1           69              0            36.285714
2024-05-14 BA.2.86.1           36              0            35.142857
2024-05-15 BA.2.86.1            3              0            31.428571

                      lineage_count_rolling  proportion  proportion_ci_lower  \
date       query
2023-09-08 BA.2.86.1               0.142857    0.000569             0.000002
2023-09-09 BA.2.86.1               0.142857    0.000548             0.000002
2023-09-10 BA.2.86.1               0.142857    0.000536             0.000002
2023-09-11 BA.2.86.1               0.142857    0.000492             0.000002
2023-09-12 BA.2.86.1               0.285714    0.000952             0.000002
...                                     ...         ...                  ...
2024-05-11 BA.2.86.1               0.000000    0.000000             0.000013
2024-05-12 BA.2.86.1               0.000000    0.000000             0.000014
2024-05-13 BA.2.86.1               0.000000    0.000000             0.000014
2024-05-14 BA.2.86.1               0.000000    0.000000             0.000014
2024-05-15 BA.2.86.1               0.000000    0.000000             0.000016

                      proportion_ci_upper
date       query
2023-09-08 BA.2.86.1             0.009948
2023-09-09 BA.2.86.1             0.009569
2023-09-10 BA.2.86.1             0.009390
2023-09-11 BA.2.86.1             0.008617
2023-09-12 BA.2.86.1             0.008331
...                                   ...
2024-05-11 BA.2.86.1             0.065207
2024-05-12 BA.2.86.1             0.068777
2024-05-13 BA.2.86.1             0.066944
2024-05-14 BA.2.86.1             0.068777
2024-05-15 BA.2.86.1             0.077230

[251 rows x 7 columns]

In [171]:
df = outbreak_data.lineage_cl_prevalence('BA.2', location = 'CAN', 
                                         datemin = '2023-03-01',
                                         datemax = '2023-05-01')
print(df)

                  total_count  lineage_count  total_count_rolling  \
date       query
2023-03-02 BA.2           268              1           275.000000
2023-03-03 BA.2           210              0           253.333333
2023-03-04 BA.2           128              0           222.000000
2023-03-05 BA.2           274              0           232.400000
2023-03-06 BA.2           536              0           283.000000
...                       ...            ...                  ...
2023-04-27 BA.2           215              0           187.000000
2023-04-28 BA.2           226              0           204.000000
2023-04-29 BA.2           192              0           219.571429
2023-04-30 BA.2           263              0           230.142857
2023-05-01 BA.2           442              0           243.142857

                  lineage_count_rolling  proportion  proportion_ci_lower  \
date       query
2023-03-02 BA.2                0.500000    0.001818             0.000002
2023-03-03 BA.2                0.333333    0.001316             0.000002
2023-03-04 BA.2                0.250000    0.001126             0.000002
2023-03-05 BA.2                0.200000    0.000861             0.000002
2023-03-06 BA.2                0.166667    0.000589             0.000002
...                                 ...         ...                  ...
2023-04-27 BA.2                0.285714    0.001528             0.000003
2023-04-28 BA.2                0.285714    0.001401             0.000002
2023-04-29 BA.2                0.285714    0.001301             0.000002
2023-04-30 BA.2                0.142857    0.000621             0.000002
2023-05-01 BA.2                0.142857    0.000588             0.000002

                  proportion_ci_upper
date       query
2023-03-02 BA.2              0.009085
2023-03-03 BA.2              0.009870
2023-03-04 BA.2              0.011239
2023-03-05 BA.2              0.010757
2023-03-06 BA.2              0.008829
...                               ...
2023-04-27 BA.2              0.013325
2023-04-28 BA.2              0.012223
2023-04-29 BA.2              0.011340
2023-04-30 BA.2              0.010850
2023-05-01 BA.2              0.010273

[61 rows x 7 columns]

In [173]:
df = outbreak_data.gr_significance(location='Global', n=5)
print(df)

                    _id _score growing   leaf     loc                 sig  \
lin
JN.1.1    Global_JN.1.1   None    true   true  Global   170.5345544056284
JN.1.4    Global_JN.1.4   None    true   true  Global  148.67142485884114
JN.1.22  Global_JN.1.22   None    true   true  Global  125.34771448608038
JN.1+      Global_JN.1+   None    true  false  Global   115.0086253690486
JN.1.7    Global_JN.1.7   None    true   true  Global  103.52483890881427

                        snr
lin
JN.1.1   12.915667590790331
JN.1.4   12.041819797365195
JN.1.22  11.034042953153367
JN.1+    10.556798749279736
JN.1.7   10.000270940090726

In [186]:
# df = outbreak_data.get_wastewater_samples_by_mutation(site =1003) #problems with this endpoint
# df

df = outbreak_data.get_wastewater_samples_by_lineage('EG.5.1', server = 'dev.outbreak.info') #also broken
df

KeyError: "['_score', '_id'] not found in axis"

In [190]:
df = outbreak_data.known_mutations('BA.2.86')
print(df)

              mutation_count  lineage_count  lineage   gene      ref_aa  \
mutation
e:t9i                    995            995  BA.2.86      E           T
orf1b:r1315c             995            995  BA.2.86  ORF1b           R
orf1b:p314l              994            995  BA.2.86  ORF1b           P
orf3a:t223i              994            995  BA.2.86  ORF3a           T
n:r203k                  992            995  BA.2.86      N           R
...                      ...            ...      ...    ...         ...
s:r403k                  858            995  BA.2.86      S           R
s:del25/27               832            995  BA.2.86      S  S:DEL25/27
s:l24s                   832            995  BA.2.86      S           L
s:n460k                  808            995  BA.2.86      S           N
s:s477n                  799            995  BA.2.86      S           S

                alt_aa  codon_num  codon_end          type  prevalence  \
mutation
e:t9i                I          9        NaN  substitution    1.000000
orf1b:r1315c         C       1315        NaN  substitution    1.000000
orf1b:p314l          L        314        NaN  substitution    0.998995
orf3a:t223i          I        223        NaN  substitution    0.998995
n:r203k              K        203        NaN  substitution    0.996985
...                ...        ...        ...           ...         ...
s:r403k              K        403        NaN  substitution    0.862312
s:del25/27    DEL25/27         25       27.0      deletion    0.836181
s:l24s               S         24        NaN  substitution    0.836181
s:n460k              K        460        NaN  substitution    0.812060
s:s477n              N        477        NaN  substitution    0.803015

              change_length_nt
mutation
e:t9i                      NaN
orf1b:r1315c               NaN
orf1b:p314l                NaN
orf3a:t223i                NaN
n:r203k                    NaN
...                        ...
s:r403k                    NaN
s:del25/27                 9.0
s:l24s                     NaN
s:n460k                    NaN
s:s477n                    NaN

[81 rows x 11 columns]

In [195]:
df = outbreak_data.mutation_prevalences('orf1b:r1315c, s:l24s', 'USA' ,'BA.2.86')
print(df)

             pangolin_lineage  lineage_count  mutation_count  proportion  \
query
  s:l24s              ba.2.86             84              77    0.916667
orf1b:r1315c          ba.2.86             84              84    1.000000

              proportion_ci_lower  proportion_ci_upper
query
  s:l24s                 0.843358             0.961949
orf1b:r1315c             0.970625             0.999994

In [200]:
date = outbreak_data.most_recent_cl_data('BA.2.86', location = 'USA_US-NY' )
date

Timestamp('2024-01-16 00:00:00')

In [202]:
lin0 = outbreak_data.known_mutations("xbb", freq = 0.80)
lin0

,mutation_count,lineage_count,lineage,gene,ref_aa,alt_aa,codon_num,codon_end,type,prevalence,change_length_nt
mutation,,,,,,,,,,,
s:d614g,4487,4499,xbb,S,D,G,614,NaN,substitution,0.997333,NaN
e:t9i,4485,4499,xbb,E,T,I,9,NaN,substitution,0.996888,NaN
s:h655y,4482,4499,xbb,S,H,Y,655,NaN,substitution,0.996221,NaN
orf1b:r1315c,4476,4499,xbb,ORF1b,R,C,1315,NaN,substitution,0.994888,NaN
orf3a:t223i,4473,4499,xbb,ORF3a,T,I,223,NaN,substitution,0.994221,NaN
...,...,...,...,...,...,...,...,...,...,...,...
s:g446s,3791,4499,xbb,S,G,S,446,NaN,substitution,0.842632,NaN
s:t376a,3765,4499,xbb,S,T,A,376,NaN,substitution,0.836853,NaN
s:del144/144,3746,4499,xbb,S,S:DEL144/144,DEL144/144,144,144.0,deletion,0.832629,3.0
s:l368i,3738,4499,xbb,S,L,I,368,NaN,substitution,0.830851,NaN
s:v445p,3694,4499,xbb,S,V,P,445,NaN,substitution,0.821071,NaN